/* .top {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px;
}

.MuiModal-root {
  background: radial-gradient(
    circle,
    rgba(177, 177, 177, 0.3) 0%,
    rgba(38, 38, 38, 0.3) 40%
  );
}

.no-box {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid white;
  height: 76px;
  padding-top: 10px;
  border-radius: 25px;
  background-color: rgba(245, 245, 245, 0.417);
}

.no-box:focus {
  outline: none;
}

.asideBefore {
  margin-bottom: -30px;
}

.asideAfter {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border: black 3px solid;
  width: 75vw;
  height: 70vh;
}

aside img {
  width: 40vw;
  height: 40vh;
  object-fit: contain;
  display: flex;
  margin: auto;
}

.btn {
  background-color: black;
  color: red;
}

.search-list::-webkit-scrollbar {
  display: none;
}

.search-list {
  overflow: auto;
}

.closeModal-btn {
  height: 30px;
  width: 30px;
  color: red;
  background-color: transparent;
  border: red 2px solid;
  border-radius: 50%;
  font-size: 23px;
  font-weight: bold;
  float: right;
  margin-bottom: 4px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
}

.info-display::-webkit-scrollbar {
  display: none;
}

.info-display {
  grid-column-start: 2;
  border: 15px solid rgb(173, 216, 430);
  border-top: none;
  max-height: 86vh;
  padding: 0 10px 0 10px;
  overflow: auto;
}

.no-info-display {
  grid-column-start: 2;
  justify-self: center;
  align-self: center;
  border-top: none;
  height: calc(100% - 40px);
  padding: 0 10px 0 10px;
}

.displayInfoTitle {
  display: flex;
  width: calc(100% + 20px);
  position: relative;
  right: 10px;
  height: 65px;
  background-color: rgb(173, 216, 430);
  justify-content: center;
  background: radial-gradient(
    100% 48% at bottom,
    transparent 50%,
    rgb(173, 216, 430) 51%
  );
}

.searched,
.searchedActive {
  height: 70px;
  border-radius: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
}

.searched:hover {
  background-color: rgba(0, 191, 255, 0.1);
}

.searched h2,
.searchedActive h2 {
  padding-left: 10px;
  margin-top: auto;
}

.searched {
  border: 2px solid rgb(173, 216, 430);
}

.searchedActive {
  border: 2px solid transparent;
  background-color: rgb(173, 216, 430);
}

.favorites {
  margin: auto;
  margin-bottom: -1px;
  width: 101%;
  font-size: 1.1rem;
  align-self: flex-end;
  font-weight: bold;
  background: rgb(5, 245, 255);
  background: linear-gradient(
    90deg,
    rgb(93, 206, 530) 0%,
    rgba(20, 139, 355, 1) 35%,
    rgb(93, 206, 530) 100%
  );
  cursor: pointer;
}

.modal-going {
  width: 100%;
  min-width: 350px;
  margin: auto;
  background-color: white;
  height: 110px;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 11px;
  border-top-left-radius: 11px;
}

.going {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.modal-btn {
  background-color: rgb(27, 74, 232);
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 0rem 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  display: flex;
  align-items: center;
  width: 40%;
  height: 100%;
  /* border-bottom-left-radius: 10px;
  border-top-left-radius: 10px; */
}

.modal-btn:hover {
  background-color: rgb(173, 216, 430);
  border-bottom: none;
  color: black;
}

.modal-btn:focus {
  background-color: #413fc5;
  border: 5px
    linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0))
    solid;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,
    rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 0.2rem;
}

.modal-btn:active {
  background-color: #3e3bba;
  background-image: none;
  border: 5px
    linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0))
    solid;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.modal-btn0:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset,
    rgba(104, 101, 235, 0.5) 0 0 0 0.2rem;
}

.modal-btn:disabled {
  background-image: none;
  box-shadow: none;
  opacity: 0.65;
  pointer-events: none;
}

.tb {
  display: table;
  width: 100%;
  display: flex;
  align-content: center;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

input,
button {
  color: black;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

#cover {
  padding: 15px;
  background-color: rgb(173, 216, 430);
  border-radius: 20px;
  margin: auto;
  width: 80%;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 25px;
}

input[type="text"] {
  width: 100%;
  font-size: 1.5rem;
  line-height: 1;
  border: none;
}

input[type="text"]::placeholder {
  color: black;
}

input[type="text"]::placeholder:active {
  color: black;
}

input:focus {
  outline: none;
}

.search-btn {
  margin: auto;
  cursor: pointer;
  margin-top: -3px;
}

.search-btn:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 1000px) {
  .searched,
  .searchedActive {
    font-size: 0.8rem;
  }

  .asideAfter {
    grid-template-columns: 1.5fr 3fr;
    width: 90vw;
    height: 70vh;
  }
}

@media (max-width: 450px) {
  .asideAfter {
    grid-template-columns: none;
  }

  .info-display {
    grid-column-start: 1;
    grid-row-start: 2;
    
  }

  .searched,
  .searchedActive {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  aside img {
    width: 70vw;
    height: 70vh;
  }

  .closeModal-btn {
    right: 15px;
    top: 15px;
    height: 25px;
    width: 25px;
    font-size: 20px;
    padding-bottom: 22px;
  }

  .displayInfoTitle {
    padding-top: 10px;
  }
}

/*

*/
