main {
  height: 100vh;
  width: 100vw;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

body::-webkit-scrollbar {
  display: none;
}

.nav {
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 8%;
  margin: 0;
  min-height: 590px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.carousel-main {
  margin: auto;
  min-height: 290px;
}

.title {
  font-family: "Dancing Script", cursive;
  color: white;
  font-size: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-5deg);
  rotate: 10%;
  width: 90%;
  z-index: -1;
}

.main-bottom {
  margin-top: -5px;
  display: flex;
  justify-content: center;
  z-index: 1;
  width: 50%;
  align-self: center;
}

@media only screen and (min-height: 800px) {
  .nav {
    margin-top: 2%;
    margin-bottom: 2%;
    height: 96%;
  }

  .main-bottom {
    margin-top: 0px;
  }
}

@media only screen and (max-height: 600px) {
  .title {
    font-size: 6rem;
    margin-top: 20px;
  }

  .main-bottom {
    margin-bottom: 65px;
  }
}

@media only screen and (max-width: 900px) {
  .main-bottom {
    transform: scale(0.75);
    font-size: 1.1rem;
  }

  .title {
    font-size: 7rem;

  }
}

@media (max-width: 530px) {
  .main-bottom {
    flex-direction: column;
    align-items: center;
    width: 76%;  
  }

  .title {
    font-size: 5rem;
     
  }
}
